<section class="about">
<ul class="about__wrapper container">
    <li class="about__item">
        <div class="about__img__one"></div>
        <h2 class="about__title">721</h2>
        <p class="about__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="about__item">
        <div class="about__img__two"></div>
        <h2 class="about__title">16kg</h2>
        <p class="about__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="about__item">
        <div class="about__img__tree"></div>
        <h2 class="about__title">84</h2>
        <p class="about__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>
</section>