<header class="header">
    <div class="container">
        <div class="header__content">
            <img src="/images/logo.png" alt="logo" class="header__logo">
            <a href="#" class="header__btn--tree">Bay now &#8250</a>
            <ul class="header__menu">
                <li class="header__menu--item">
                    <a href="" class="header__menu--link">Home</a>
                </li>
                <li class="header__menu--item">
                    <a href="" class="header__menu--link">About us</a>
                </li>
                <li class="header__menu--item">
                    <a href="" class="header__menu--link">How it’s made?</a>
                </li>
                <li class="header__menu--item">
                    <a href="" class="header__menu--link">Our products</a>
                </li>
                <li class="header__menu--item">
                    <a href="" class="header__menu--link">Contact</a>
                </li>
            </ul>
            <div class="header__circle"></div>
            <div class="header__img--iceCream"></div>
            <div class="header__img--baby"></div>
            <div class="header__img--milk"></div>
            <div class="header__img--cafes"></div>
            <div class="header__img--foodTrucks"></div>
            <h1 class="header__title">ice cream made with <span class="header__title--accent">passion</span></h1>
            <div class="header__btn">
                <a href="#" class="header__btn--one">Products</a>
                <a href="#" class="header__btn--two">How it’s made?</a>
            </div>
            <button type="button" class="header__close--button">
                <svg width="20" height="12">
                    <use href="/images/icons.svg#icon-burger"></use>
                </svg>
            </button>
            <p class="header__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            <a href="" class="header__arrow"></a>
        </div>
    </div>

</header>