<section class="products">
    <div class="products__wrapper container">
        <p class="products__subtitle">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__items">
            <li class="products__item-one">
                <h3 class="products__name">ice cream</h3>
                <p class="products__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et. doloremagnaaliqua facilisis.</p>
                <a href="#" alt="image-icecream" class="products__link"></a>
            </li>
            <li class="products__item-two">
                <h3 class="products__name">ice cream</h3>
                <p class="products__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et. doloremagnaaliqua facilisis.</p>
                <a href="#" alt="image-coffee" class="products__link"></a>
            </li>
            <li class="products__item-tree">
                <h3 class="products__name">ice cream</h3>
                <p class="products__discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et. doloremagnaaliqua facilisis.</p>
                <a href="#" alt="image-milkshake" class="products__link"></a>
            </li>
        </ul>
    </div>
</section>